spring.application.name=plateforme_cartographie
server.port=8081

# Connexion DB - MODIFIER AVEC VOS PARAMÈTRES
spring.datasource.url=jdbc:mysql://localhost:3306/esmt_recherche_db?createDatabaseIfNotExist=true&serverTimezone=UTC
spring.datasource.username=VOTRE_USERNAME
spring.datasource.password=VOTRE_PASSWORD

# Afficher les requêtes SQL
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.ddl-auto=update

# Niveau de log très détaillé pour les INSERT/UPDATE
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.orm.jdbc.bind=TRACE

spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Voir les transactions et erreurs JPA
logging.level.org.springframework.orm.jpa=DEBUG
logging.level.org.springframework.transaction=DEBUG

# Thymeleaf
spring.thymeleaf.cache=false

# Upload files
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# Messages d'erreur détaillés
server.error.include-message=always
server.error.include-binding-errors=always
server.error.include-stacktrace=on_param
server.error.include-exception=true

# Session
server.servlet.session.timeout=30m
